# 10 Pandas Functions for Finance

Data source: https://www.kaggle.com/dgawlik/nyse

In [1]:
import numpy as np
import pandas as pd

In [2]:
from IPython.display import display, Markdown

In [3]:
df = pd.read_csv("fundamentals.csv")

In [4]:
df.head()

,Unnamed: 0,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,...,Total Current Assets,Total Current Liabilities,Total Equity,Total Liabilities,Total Liabilities & Equity,Total Revenue,Treasury Stock,For Year,Earnings Per Share,Estimated Shares Outstanding
0,0,AAL,2012-12-31,3.068000e+09,-222000000.0,-1.961000e+09,23.0,-1.888000e+09,4.695000e+09,53.0,...,7.072000e+09,9.011000e+09,-7.987000e+09,2.489100e+10,1.690400e+10,2.485500e+10,-367000000.0,2012.0,-5.60,3.350000e+08
1,1,AAL,2013-12-31,4.975000e+09,-93000000.0,-2.723000e+09,67.0,-3.114000e+09,1.059200e+10,75.0,...,1.432300e+10,1.380600e+10,-2.731000e+09,4.500900e+10,4.227800e+10,2.674300e+10,0.0,2013.0,-11.25,1.630222e+08
2,2,AAL,2014-12-31,4.668000e+09,-160000000.0,-1.500000e+08,143.0,-5.311000e+09,1.513500e+10,60.0,...,1.175000e+10,1.340400e+10,2.021000e+09,4.120400e+10,4.322500e+10,4.265000e+10,0.0,2014.0,4.02,7.169154e+08
3,3,AAL,2015-12-31,5.102000e+09,352000000.0,-7.080000e+08,135.0,-6.151000e+09,1.159100e+10,51.0,...,9.985000e+09,1.360500e+10,5.635000e+09,4.278000e+10,4.841500e+10,4.099000e+10,0.0,2015.0,11.39,6.681299e+08
4,4,AAP,2012-12-29,2.409453e+09,-89482000.0,6.000000e+05,32.0,-2.711820e+08,5.202150e+08,23.0,...,3.184200e+09,2.559638e+09,1.210694e+09,3.403120e+09,4.613814e+09,6.205003e+09,-27095000.0,2012.0,5.29,7.328355e+07

# 1. Cumsum

### Cumulative Sum  of Total Revenue

In [5]:
df['Cumsum of Total Revenue'] = df[['Total Revenue','Ticker Symbol']].groupby('Ticker Symbol').cumsum()
df

,Unnamed: 0,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,...,Total Current Liabilities,Total Equity,Total Liabilities,Total Liabilities & Equity,Total Revenue,Treasury Stock,For Year,Earnings Per Share,Estimated Shares Outstanding,Cumsum of Total Revenue
0,0,AAL,2012-12-31,3.068000e+09,-222000000.0,-1.961000e+09,23.0,-1.888000e+09,4.695000e+09,53.0,...,9.011000e+09,-7.987000e+09,2.489100e+10,1.690400e+10,2.485500e+10,-367000000.0,2012.0,-5.60,3.350000e+08,2.485500e+10
1,1,AAL,2013-12-31,4.975000e+09,-93000000.0,-2.723000e+09,67.0,-3.114000e+09,1.059200e+10,75.0,...,1.380600e+10,-2.731000e+09,4.500900e+10,4.227800e+10,2.674300e+10,0.0,2013.0,-11.25,1.630222e+08,5.159800e+10
2,2,AAL,2014-12-31,4.668000e+09,-160000000.0,-1.500000e+08,143.0,-5.311000e+09,1.513500e+10,60.0,...,1.340400e+10,2.021000e+09,4.120400e+10,4.322500e+10,4.265000e+10,0.0,2014.0,4.02,7.169154e+08,9.424800e+10
3,3,AAL,2015-12-31,5.102000e+09,352000000.0,-7.080000e+08,135.0,-6.151000e+09,1.159100e+10,51.0,...,1.360500e+10,5.635000e+09,4.278000e+10,4.841500e+10,4.099000e+10,0.0,2015.0,11.39,6.681299e+08,1.352380e+11
4,4,AAP,2012-12-29,2.409453e+09,-89482000.0,6.000000e+05,32.0,-2.711820e+08,5.202150e+08,23.0,...,2.559638e+09,1.210694e+09,3.403120e+09,4.613814e+09,6.205003e+09,-27095000.0,2012.0,5.29,7.328355e+07,6.205003e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1776,1776,ZION,2015-12-31,0.000000e+00,0.0,-2.530000e+06,4.0,-1.573610e+08,0.000000e+00,NaN,...,0.000000e+00,7.507519e+09,5.216201e+10,5.966952e+10,2.210591e+09,0.0,2015.0,1.20,2.578925e+08,9.309626e+09
1777,1777,ZTS,2013-12-31,1.381000e+09,-99000000.0,9.000000e+06,54.0,-1.840000e+08,8.780000e+08,43.0,...,1.415000e+09,9.400000e+08,5.618000e+09,6.558000e+09,4.561000e+09,0.0,2013.0,1.01,4.990099e+08,4.561000e+09
1778,1778,ZTS,2014-12-31,1.071000e+09,69000000.0,-7.000000e+06,44.0,-1.800000e+08,9.580000e+08,81.0,...,1.086000e+09,1.311000e+09,5.277000e+09,6.588000e+09,4.785000e+09,0.0,2014.0,1.16,5.025862e+08,9.346000e+09
1779,1779,ZTS,2015-12-31,1.313000e+09,-58000000.0,-8.100000e+07,32.0,-2.240000e+08,1.012000e+09,65.0,...,1.781000e+09,1.068000e+09,6.845000e+09,7.913000e+09,4.765000e+09,-203000000.0,2015.0,0.68,4.985294e+08,1.411100e+10
1780,1780,ZTS,2016-12-31,1.076000e+09,15000000.0,2.000000e+06,55.0,-2.160000e+08,1.024000e+09,65.0,...,1.117000e+09,1.487000e+09,6.162000e+09,7.649000e+09,4.888000e+09,-421000000.0,NaN,NaN,NaN,1.899900e+10

In [6]:
display(Markdown(
f"""Positive Equity Figures"""
))

Positive Equity Figures

# 2. Where

### Where Total Equity is positive

In [7]:
df['Total Equity'].where(df['Total Equity'] > 0 , 0)

0       0.000000e+00
1       0.000000e+00
2       2.021000e+09
3       5.635000e+09
4       1.210694e+09
            ...
1776    7.507519e+09
1777    9.400000e+08
1778    1.311000e+09
1779    1.068000e+09
1780    1.487000e+09
Name: Total Equity, Length: 1781, dtype: float64

# 3. Is In

### Where data is in maximum year

In [8]:
df['For Year'].max()

2016.0

In [9]:
df[df['For Year'].isin(['2016'])]

,Unnamed: 0,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,...,Total Current Liabilities,Total Equity,Total Liabilities,Total Liabilities & Equity,Total Revenue,Treasury Stock,For Year,Earnings Per Share,Estimated Shares Outstanding,Cumsum of Total Revenue
11,11,AAPL,2016-09-24,5.932100e+10,1.044000e+09,1.348000e+09,36.0,-1.273400e+10,0.000000e+00,85.0,...,7.900600e+10,1.282490e+11,1.934370e+11,3.216860e+11,2.156390e+11,0.000000e+00,2016.0,8.35,5.471497e+09,8.030590e+11
19,19,ABC,2016-09-30,2.467016e+10,-9.127240e+08,5.048000e+06,67.0,-4.646160e+08,4.333001e+09,11.0,...,2.528131e+10,2.129404e+09,3.152680e+10,3.365620e+10,1.468497e+11,-4.396008e+09,2016.0,6.73,2.121737e+08,4.903398e+11
31,31,ADI,2016-10-29,4.313960e+08,-9.392000e+06,1.756600e+07,17.0,-1.273970e+08,4.022700e+08,518.0,...,7.829340e+08,5.165618e+09,2.804660e+09,7.970278e+09,3.421409e+09,0.000000e+00,2016.0,0.96,8.975667e+08,1.235496e+10
43,43,ADSK,2016-01-31,5.221000e+08,-1.955000e+08,0.000000e+00,20.0,-7.240000e+07,0.000000e+00,141.0,...,1.591000e+09,1.619600e+09,3.895700e+09,5.515300e+09,2.504100e+09,0.000000e+00,2016.0,-1.46,2.263699e+08,9.602400e+09
99,99,AMAT,2016-10-30,2.056000e+09,-5.420000e+08,1.600000e+07,24.0,-2.530000e+08,6.809000e+09,103.0,...,3.632000e+09,7.217000e+09,7.371000e+09,1.458800e+10,1.082500e+10,-1.474000e+10,2016.0,1.56,1.103205e+09,3.706500e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,1677,WDC,2016-07-01,3.615000e+09,3.510000e+08,-4.700000e+07,2.0,-5.840000e+08,4.429000e+09,121.0,...,6.949000e+09,1.114500e+10,2.171700e+10,3.286200e+10,1.299400e+10,-2.238000e+09,2016.0,1.01,2.396040e+08,5.804700e+10
1689,1689,WFM,2016-09-25,7.570000e+08,-2.400000e+07,1.100000e+07,16.0,-3.210000e+08,0.000000e+00,64.0,...,1.341000e+09,3.224000e+09,3.117000e+09,6.341000e+09,1.572400e+10,-2.026000e+09,2016.0,1.55,3.270968e+08,5.822400e+10
1709,1709,WMT,2016-01-31,5.861500e+10,-1.900000e+07,8.100000e+07,18.0,-1.147700e+10,1.805000e+09,13.0,...,6.461900e+10,8.054600e+10,1.190350e+11,1.995810e+11,4.821300e+11,0.000000e+00,2016.0,4.58,3.208297e+09,1.912726e+12
1712,1712,WRK,2016-09-30,1.460300e+09,3.660000e+07,6.130000e+07,4.0,-7.967000e+08,1.045860e+10,17.0,...,2.183000e+09,9.728800e+09,1.330940e+10,2.303820e+10,1.417180e+10,0.000000e+00,2016.0,-1.56,2.499359e+08,3.519170e+10
1744,1744,XLNX,2016-04-02,3.072220e+08,-6.084300e+07,0.000000e+00,21.0,-3.400400e+07,7.269210e+08,353.0,...,9.460860e+08,2.589893e+09,2.233261e+09,4.823154e+09,2.213881e+09,0.000000e+00,2016.0,2.14,2.574145e+08,9.142408e+09

# 4. ILoc

In [10]:
df.iloc[:2,:3]

   Unnamed: 0 Ticker Symbol Period Ending
0           0           AAL    2012-12-31
1           1           AAL    2013-12-31

In [11]:
df.loc[:2, ['Accounts Payable','Accounts Receivable']]

   Accounts Payable  Accounts Receivable
0      3.068000e+09         -222000000.0
1      4.975000e+09          -93000000.0
2      4.668000e+09         -160000000.0

In [12]:
df_aapl = df[df['Ticker Symbol'] == 'AAPL']
df_aapl

,Unnamed: 0,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,...,Total Current Liabilities,Total Equity,Total Liabilities,Total Liabilities & Equity,Total Revenue,Treasury Stock,For Year,Earnings Per Share,Estimated Shares Outstanding,Cumsum of Total Revenue
8,8,AAPL,2013-09-28,3.622300e+10,-1.949000e+09,1.156000e+09,30.0,-8.165000e+09,0.0,93.0,...,4.365800e+10,1.235490e+11,8.345100e+10,2.070000e+11,1.709100e+11,0.0,2013.0,40.03,9.252311e+08,1.709100e+11
9,9,AAPL,2014-09-27,4.864900e+10,-6.452000e+09,9.800000e+08,35.0,-9.571000e+09,0.0,40.0,...,6.344800e+10,1.115470e+11,1.202920e+11,2.318390e+11,1.827950e+11,0.0,2014.0,6.49,6.087827e+09,3.537050e+11
10,10,AAPL,2015-09-26,6.067100e+10,-3.124000e+09,1.285000e+09,45.0,-1.124700e+10,0.0,52.0,...,8.061000e+10,1.193550e+11,1.709900e+11,2.903450e+11,2.337150e+11,0.0,2015.0,9.28,5.753664e+09,5.874200e+11
11,11,AAPL,2016-09-24,5.932100e+10,1.044000e+09,1.348000e+09,36.0,-1.273400e+10,0.0,85.0,...,7.900600e+10,1.282490e+11,1.934370e+11,3.216860e+11,2.156390e+11,0.0,2016.0,8.35,5.471497e+09,8.030590e+11

# 5. Pct_change

In [13]:
df_aapl['Total Equity'].pct_change()

8          NaN
9    -0.097144
10    0.069997
11    0.074517
Name: Total Equity, dtype: float64

In [14]:
df_2016 = df[df['For Year'].isin(['2016'])]

# 6. Rank

In [15]:
df_2016['CR_rank'] = df_2016['Cash Ratio'].rank()
df_2016

<ipython-input-15-42171cd0c9d1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2016['CR_rank'] = df_2016['Cash Ratio'].rank()

,Unnamed: 0,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,...,Total Equity,Total Liabilities,Total Liabilities & Equity,Total Revenue,Treasury Stock,For Year,Earnings Per Share,Estimated Shares Outstanding,Cumsum of Total Revenue,CR_rank
11,11,AAPL,2016-09-24,5.932100e+10,1.044000e+09,1.348000e+09,36.0,-1.273400e+10,0.000000e+00,85.0,...,1.282490e+11,1.934370e+11,3.216860e+11,2.156390e+11,0.000000e+00,2016.0,8.35,5.471497e+09,8.030590e+11,51.0
19,19,ABC,2016-09-30,2.467016e+10,-9.127240e+08,5.048000e+06,67.0,-4.646160e+08,4.333001e+09,11.0,...,2.129404e+09,3.152680e+10,3.365620e+10,1.468497e+11,-4.396008e+09,2016.0,6.73,2.121737e+08,4.903398e+11,5.0
31,31,ADI,2016-10-29,4.313960e+08,-9.392000e+06,1.756600e+07,17.0,-1.273970e+08,4.022700e+08,518.0,...,5.165618e+09,2.804660e+09,7.970278e+09,3.421409e+09,0.000000e+00,2016.0,0.96,8.975667e+08,1.235496e+10,82.0
43,43,ADSK,2016-01-31,5.221000e+08,-1.955000e+08,0.000000e+00,20.0,-7.240000e+07,0.000000e+00,141.0,...,1.619600e+09,3.895700e+09,5.515300e+09,2.504100e+09,0.000000e+00,2016.0,-1.46,2.263699e+08,9.602400e+09,66.0
99,99,AMAT,2016-10-30,2.056000e+09,-5.420000e+08,1.600000e+07,24.0,-2.530000e+08,6.809000e+09,103.0,...,7.217000e+09,7.371000e+09,1.458800e+10,1.082500e+10,-1.474000e+10,2016.0,1.56,1.103205e+09,3.706500e+10,61.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,1677,WDC,2016-07-01,3.615000e+09,3.510000e+08,-4.700000e+07,2.0,-5.840000e+08,4.429000e+09,121.0,...,1.114500e+10,2.171700e+10,3.286200e+10,1.299400e+10,-2.238000e+09,2016.0,1.01,2.396040e+08,5.804700e+10,63.0
1689,1689,WFM,2016-09-25,7.570000e+08,-2.400000e+07,1.100000e+07,16.0,-3.210000e+08,0.000000e+00,64.0,...,3.224000e+09,3.117000e+09,6.341000e+09,1.572400e+10,-2.026000e+09,2016.0,1.55,3.270968e+08,5.822400e+10,49.0
1709,1709,WMT,2016-01-31,5.861500e+10,-1.900000e+07,8.100000e+07,18.0,-1.147700e+10,1.805000e+09,13.0,...,8.054600e+10,1.190350e+11,1.995810e+11,4.821300e+11,0.000000e+00,2016.0,4.58,3.208297e+09,1.912726e+12,11.5
1712,1712,WRK,2016-09-30,1.460300e+09,3.660000e+07,6.130000e+07,4.0,-7.967000e+08,1.045860e+10,17.0,...,9.728800e+09,1.330940e+10,2.303820e+10,1.417180e+10,0.000000e+00,2016.0,-1.56,2.499359e+08,3.519170e+10,15.5
1744,1744,XLNX,2016-04-02,3.072220e+08,-6.084300e+07,0.000000e+00,21.0,-3.400400e+07,7.269210e+08,353.0,...,2.589893e+09,2.233261e+09,4.823154e+09,2.213881e+09,0.000000e+00,2016.0,2.14,2.574145e+08,9.142408e+09,80.0

# 7. Melt

In [16]:
accounts_cols = [col for col in df.columns if 'Accounts' in col]
print(accounts_cols)

['Accounts Payable', 'Accounts Receivable']

In [17]:
df_wide = df.loc[:, ['Ticker Symbol','Accounts Payable','Accounts Receivable']]

In [18]:
df_wide

     Ticker Symbol  Accounts Payable  Accounts Receivable
0              AAL      3.068000e+09         -222000000.0
1              AAL      4.975000e+09          -93000000.0
2              AAL      4.668000e+09         -160000000.0
3              AAL      5.102000e+09          352000000.0
4              AAP      2.409453e+09          -89482000.0
...            ...               ...                  ...
1776          ZION      0.000000e+00                  0.0
1777           ZTS      1.381000e+09          -99000000.0
1778           ZTS      1.071000e+09           69000000.0
1779           ZTS      1.313000e+09          -58000000.0
1780           ZTS      1.076000e+09           15000000.0

[1781 rows x 3 columns]

In [19]:
df_wide.melt(id_vars=['Ticker Symbol'])

     Ticker Symbol             variable         value
0              AAL     Accounts Payable  3.068000e+09
1              AAL     Accounts Payable  4.975000e+09
2              AAL     Accounts Payable  4.668000e+09
3              AAL     Accounts Payable  5.102000e+09
4              AAP     Accounts Payable  2.409453e+09
...            ...                  ...           ...
3557          ZION  Accounts Receivable  0.000000e+00
3558           ZTS  Accounts Receivable -9.900000e+07
3559           ZTS  Accounts Receivable  6.900000e+07
3560           ZTS  Accounts Receivable -5.800000e+07
3561           ZTS  Accounts Receivable  1.500000e+07

[3562 rows x 3 columns]

# 8. Nunique

In [20]:
df['For Year'].nunique()

6

# 9. Memory_usage

In [21]:
df.memory_usage().sum() / (1024**2) #converting to megabytes

1.087158203125

# 10. Describe

In [22]:
df.describe()

,Unnamed: 0,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,Cash and Cash Equivalents,Changes in Inventories,...,Total Current Liabilities,Total Equity,Total Liabilities,Total Liabilities & Equity,Total Revenue,Treasury Stock,For Year,Earnings Per Share,Estimated Shares Outstanding,Cumsum of Total Revenue
count,1781.000000,1.781000e+03,1.781000e+03,1.781000e+03,1781.000000,1.781000e+03,1.781000e+03,1482.000000,1.781000e+03,1.781000e+03,...,1.781000e+03,1.781000e+03,1.781000e+03,1.781000e+03,1.781000e+03,1.781000e+03,1608.000000,1562.000000,1.562000e+03,1.781000e+03
mean,890.000000,4.673418e+09,-6.353484e+07,6.908940e+07,43.601348,-1.251925e+09,5.351784e+09,74.457490,8.521399e+09,-6.787749e+07,...,4.699919e+09,1.188846e+10,4.380420e+10,5.569266e+10,2.029154e+10,-3.951522e+09,2013.305348,3.353707,6.024244e+08,5.038126e+10
std,514.274732,1.406047e+10,7.562794e+08,6.848143e+08,233.924028,2.979963e+09,1.133977e+10,102.298374,5.432105e+10,3.903369e+08,...,9.538832e+09,2.584429e+10,1.817039e+11,2.033612e+11,4.095355e+10,1.407047e+10,19.953135,4.695896,1.142585e+09,1.144427e+11
min,0.000000,0.000000e+00,-6.452000e+09,-6.768000e+09,0.000000,-3.798500e+10,-7.215000e+08,0.000000,2.100000e+04,-5.562000e+09,...,0.000000e+00,-1.324400e+10,2.577000e+06,2.705000e+06,1.514000e+06,-2.297340e+11,1215.000000,-61.200000,-1.513945e+09,1.577000e+06
25%,445.000000,5.160000e+08,-1.040000e+08,-2.638000e+06,10.000000,-1.151200e+09,4.791000e+08,17.000000,3.088000e+08,-5.400000e+07,...,5.640760e+08,2.201492e+09,3.843300e+09,6.552689e+09,3.714000e+09,-3.040895e+09,2013.000000,1.590000,1.493318e+08,7.498784e+09
50%,890.000000,1.334000e+09,-1.830000e+07,2.000000e+06,16.000000,-3.580000e+08,1.997080e+09,41.000000,8.625900e+08,0.000000e+00,...,1.701500e+09,4.983000e+09,9.141000e+09,1.517000e+10,8.023200e+09,-3.068350e+08,2014.000000,2.810000,2.929409e+08,1.762100e+10
75%,1335.000000,3.246000e+09,7.816000e+06,3.359200e+07,26.000000,-1.291000e+08,5.735000e+09,90.000000,2.310000e+09,0.000000e+00,...,4.381000e+09,1.080900e+10,2.389700e+10,3.599710e+10,1.748600e+10,0.000000e+00,2015.000000,4.590000,5.492163e+08,4.420509e+10
max,1780.000000,2.069390e+11,2.266400e+10,1.416200e+10,5789.000000,5.000000e+06,1.082880e+11,1041.000000,7.281110e+11,3.755000e+09,...,9.028100e+10,2.562050e+11,2.340547e+12,2.572274e+12,4.856510e+11,0.000000e+00,2016.000000,50.090000,1.610769e+10,1.912726e+12