# Groupby Functions for Finance

Source: https://towardsdatascience.com/ultimate-pandas-guide-mastering-the-groupby-104306251739

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [3]:
data = pd.read_csv('fundamentals.csv')

In [4]:
data.head()

,Unnamed: 0,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,...,Total Current Assets,Total Current Liabilities,Total Equity,Total Liabilities,Total Liabilities & Equity,Total Revenue,Treasury Stock,For Year,Earnings Per Share,Estimated Shares Outstanding
0,0,AAL,2012-12-31,3.068000e+09,-222000000.0,-1.961000e+09,23.0,-1.888000e+09,4.695000e+09,53.0,...,7.072000e+09,9.011000e+09,-7.987000e+09,2.489100e+10,1.690400e+10,2.485500e+10,-367000000.0,2012.0,-5.60,3.350000e+08
1,1,AAL,2013-12-31,4.975000e+09,-93000000.0,-2.723000e+09,67.0,-3.114000e+09,1.059200e+10,75.0,...,1.432300e+10,1.380600e+10,-2.731000e+09,4.500900e+10,4.227800e+10,2.674300e+10,0.0,2013.0,-11.25,1.630222e+08
2,2,AAL,2014-12-31,4.668000e+09,-160000000.0,-1.500000e+08,143.0,-5.311000e+09,1.513500e+10,60.0,...,1.175000e+10,1.340400e+10,2.021000e+09,4.120400e+10,4.322500e+10,4.265000e+10,0.0,2014.0,4.02,7.169154e+08
3,3,AAL,2015-12-31,5.102000e+09,352000000.0,-7.080000e+08,135.0,-6.151000e+09,1.159100e+10,51.0,...,9.985000e+09,1.360500e+10,5.635000e+09,4.278000e+10,4.841500e+10,4.099000e+10,0.0,2015.0,11.39,6.681299e+08
4,4,AAP,2012-12-29,2.409453e+09,-89482000.0,6.000000e+05,32.0,-2.711820e+08,5.202150e+08,23.0,...,3.184200e+09,2.559638e+09,1.210694e+09,3.403120e+09,4.613814e+09,6.205003e+09,-27095000.0,2012.0,5.29,7.328355e+07

In [5]:
#get total earnings per ticker
data.groupby('For Year').agg(sum)[['Earnings Per Share']]
#group by addresses the split stage
#agg addresses the “apply” stag

          Earnings Per Share
For Year
1215.0                 1.110
2012.0               697.059
2013.0              1494.305
2014.0              1520.586
2015.0              1244.180
2016.0               281.250

# Understanding the “split” step in Pandas

In [8]:
grouped = data.groupby('For Year')

In [9]:
grouped.groups

{1215.0: Int64Index([854], dtype='int64'),
 2012.0: Int64Index([   0,    4,   20,   36,   44,   48,   52,   56,   60,   72,
             ...
             1733, 1737, 1745, 1749, 1753, 1757, 1761, 1765, 1769, 1773],
            dtype='int64', length=244),
 2013.0: Int64Index([   1,    5,    8,   13,   16,   21,   24,   28,   33,   37,
             ...
             1741, 1746, 1750, 1754, 1758, 1762, 1766, 1770, 1774, 1777],
            dtype='int64', length=425),
 2014.0: Int64Index([   2,    6,    9,   14,   17,   22,   25,   29,   34,   38,
             ...
             1742, 1747, 1751, 1755, 1759, 1763, 1767, 1771, 1775, 1778],
            dtype='int64', length=428),
 2015.0: Int64Index([   3,    7,   10,   15,   18,   23,   26,   30,   35,   39,
             ...
             1743, 1748, 1752, 1756, 1760, 1764, 1768, 1772, 1776, 1779],
            dtype='int64', length=425),
 2016.0: Int64Index([  11,   19,   31,   43,   99,  147,  181,  185,  209,  217,  257,
              261,  329,  369,  373,  377,  385,  389,  393,  395,  403,  443,
              459,  467,  503,  519,  543,  551,  631,  639,  695,  711,  735,
              779,  787,  790,  794,  798,  802,  806,  846,  878,  906,  918,
              926,  966,  986, 1038, 1042, 1090, 1110, 1122, 1159, 1175, 1187,
             1199, 1223, 1247, 1275, 1334, 1337, 1357, 1361, 1365, 1385, 1409,
             1413, 1461, 1465, 1473, 1489, 1493, 1509, 1513, 1529, 1553, 1613,
             1625, 1629, 1637, 1677, 1689, 1709, 1712, 1744],
            dtype='int64')}

In [15]:
grouped.get_group(2016)

,Unnamed: 0,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,...,Total Current Assets,Total Current Liabilities,Total Equity,Total Liabilities,Total Liabilities & Equity,Total Revenue,Treasury Stock,For Year,Earnings Per Share,Estimated Shares Outstanding
11,11,AAPL,2016-09-24,5.932100e+10,1.044000e+09,1.348000e+09,36.0,-1.273400e+10,0.000000e+00,85.0,...,1.068690e+11,7.900600e+10,1.282490e+11,1.934370e+11,3.216860e+11,2.156390e+11,0.000000e+00,2016.0,8.35,5.471497e+09
19,19,ABC,2016-09-30,2.467016e+10,-9.127240e+08,5.048000e+06,67.0,-4.646160e+08,4.333001e+09,11.0,...,2.285185e+10,2.528131e+10,2.129404e+09,3.152680e+10,3.365620e+10,1.468497e+11,-4.396008e+09,2016.0,6.73,2.121737e+08
31,31,ADI,2016-10-29,4.313960e+08,-9.392000e+06,1.756600e+07,17.0,-1.273970e+08,4.022700e+08,518.0,...,4.974863e+09,7.829340e+08,5.165618e+09,2.804660e+09,7.970278e+09,3.421409e+09,0.000000e+00,2016.0,0.96,8.975667e+08
43,43,ADSK,2016-01-31,5.221000e+08,-1.955000e+08,0.000000e+00,20.0,-7.240000e+07,0.000000e+00,141.0,...,2.993100e+09,1.591000e+09,1.619600e+09,3.895700e+09,5.515300e+09,2.504100e+09,0.000000e+00,2016.0,-1.46,2.263699e+08
99,99,AMAT,2016-10-30,2.056000e+09,-5.420000e+08,1.600000e+07,24.0,-2.530000e+08,6.809000e+09,103.0,...,8.353000e+09,3.632000e+09,7.217000e+09,7.371000e+09,1.458800e+10,1.082500e+10,-1.474000e+10,2016.0,1.56,1.103205e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,1677,WDC,2016-07-01,3.615000e+09,3.510000e+08,-4.700000e+07,2.0,-5.840000e+08,4.429000e+09,121.0,...,1.258400e+10,6.949000e+09,1.114500e+10,2.171700e+10,3.286200e+10,1.299400e+10,-2.238000e+09,2016.0,1.01,2.396040e+08
1689,1689,WFM,2016-09-25,7.570000e+08,-2.400000e+07,1.100000e+07,16.0,-3.210000e+08,0.000000e+00,64.0,...,1.975000e+09,1.341000e+09,3.224000e+09,3.117000e+09,6.341000e+09,1.572400e+10,-2.026000e+09,2016.0,1.55,3.270968e+08
1709,1709,WMT,2016-01-31,5.861500e+10,-1.900000e+07,8.100000e+07,18.0,-1.147700e+10,1.805000e+09,13.0,...,6.023900e+10,6.461900e+10,8.054600e+10,1.190350e+11,1.995810e+11,4.821300e+11,0.000000e+00,2016.0,4.58,3.208297e+09
1712,1712,WRK,2016-09-30,1.460300e+09,3.660000e+07,6.130000e+07,4.0,-7.967000e+08,1.045860e+10,17.0,...,3.912600e+09,2.183000e+09,9.728800e+09,1.330940e+10,2.303820e+10,1.417180e+10,0.000000e+00,2016.0,-1.56,2.499359e+08
1744,1744,XLNX,2016-04-02,3.072220e+08,-6.084300e+07,0.000000e+00,21.0,-3.400400e+07,7.269210e+08,353.0,...,3.918933e+09,9.460860e+08,2.589893e+09,2.233261e+09,4.823154e+09,2.213881e+09,0.000000e+00,2016.0,2.14,2.574145e+08

In [16]:
for name, group in grouped:
    print(name, group)

1215.0      Unnamed: 0 Ticker Symbol Period Ending  Accounts Payable  \
854         854           IPG    2015-12-31      7.432300e+09

     Accounts Receivable  Add'l income/expense items  After Tax ROE  \
854         -473900000.0                 -23900000.0           23.0

     Capital Expenditures  Capital Surplus  Cash Ratio  ...  \
854          -161100000.0     1.404100e+09        20.0  ...

     Total Current Assets  Total Current Liabilities  Total Equity  \
854          7.693100e+09               7.584300e+09  1.965500e+09

     Total Liabilities  Total Liabilities & Equity  Total Revenue  \
854       1.061960e+10                1.258510e+10   7.613800e+09

     Treasury Stock  For Year  Earnings Per Share  \
854     -71000000.0    1215.0                1.11

     Estimated Shares Outstanding
854                  4.095495e+08

[1 rows x 79 columns]
2012.0       Unnamed: 0 Ticker Symbol Period Ending  Accounts Payable  \
0              0           AAL    2012-12-31      3.068000e+09
4              4           AAP    2012-12-29      2.409453e+09
20            20           ABT    2012-12-31      1.088900e+10
36            36           ADS    2012-12-31      4.900950e+08
44            44           AEE    2012-12-31      6.710000e+08
...          ...           ...           ...               ...
1757        1757           XYL    2012-12-31      7.750000e+08
1761        1761          YHOO    2012-12-31      9.933060e+08
1765        1765           YUM    2012-12-29      2.269000e+09
1769        1769           ZBH    2012-12-31      2.069000e+08
1773        1773          ZION    2012-12-31      0.000000e+00

      Accounts Receivable  Add'l income/expense items  After Tax ROE  \
0            -222000000.0               -1.961000e+09           23.0
4             -89482000.0                6.000000e+05           32.0
20             36000000.0               -1.260000e+09           22.0
36            -49219000.0                0.000000e+00           80.0
44             30000000.0                3.300000e+07           15.0
...                   ...                         ...            ...
1757            2000000.0                0.000000e+00           14.0
1761           34752000.0                4.647839e+09           27.0
1765          -18000000.0                0.000000e+00           74.0
1769          -45500000.0                1.560000e+07           13.0
1773                  0.0                0.000000e+00            6.0

      Capital Expenditures  Capital Surplus  Cash Ratio  ...  \
0            -1.888000e+09     4.695000e+09        53.0  ...
4            -2.711820e+08     5.202150e+08        23.0  ...
20           -1.795000e+09     0.000000e+00       114.0  ...
36           -1.164550e+08     1.454230e+09        28.0  ...
44           -1.063000e+09     5.616000e+09         7.0  ...
...                    ...              ...         ...  ...
1757         -1.120000e+08     1.706000e+09        65.0  ...
1761         -5.055070e+08     9.563348e+09       324.0  ...
1765         -1.099000e+09     0.000000e+00        40.0  ...
1769         -2.636000e+08     3.500600e+09       180.0  ...
1773         -6.889400e+07     0.000000e+00         NaN  ...

      Total Current Assets  Total Current Liabilities  Total Equity  \
0             7.072000e+09               9.011000e+09 -7.987000e+09
4             3.184200e+09               2.559638e+09  1.210694e+09
20            3.132300e+10               1.328000e+10  2.672100e+10
36            9.132143e+09               5.032777e+09  5.284870e+08
44            3.596000e+09               2.686000e+09  6.616000e+09
...                    ...                        ...           ...
1757          1.874000e+09               7.810000e+08  2.074000e+09
1761          5.652713e+09               1.290232e+09  1.456020e+10
1765          1.925000e+09               2.279000e+09  2.154000e+09
1769          3.708700e+09               8.660000e+08  5.860900e+09
1773          0.000000e+00               0.000000e+00  6.052069e+09

      Total Liabilities  Total Liabilities & Equity  Total Revenue  \
0          2.489100e+10                1.690400e+10   2.485500e+10
4          3.403120e+09                4.613814e+09   6.205003e+09
20         4.051400e+10                6.723500e+10   1.905000e+10
36         1.147165e+10                1.200014e+10   3.641390e+09
44         1.561400e+10                2.223000e+10   5.781000e+09
...                 ...                         ...            ...
1757       2.605000e+09                4.679000e+09   3.791000e+09
1761       2.543053e+09                1.710325e+10   4.986566e+09
1765       6.859000e+09                9.013000e+09   1.363300e+10
1769       3.151500e+09                9.012400e+09   4.471700e+09
1773       4.945985e+10                5.551192e+10   2.458592e+09

      Treasury Stock  For Year  Earnings Per Share  \
0      -3.670000e+08    2012.0               -5.60
4      -2.709500e+07    2012.0                5.29
20     -5.591000e+09    2012.0                3.76
36     -2.458092e+09    2012.0                8.44
44      0.000000e+00    2012.0               -4.01
...              ...       ...                 ...
1757   -1.300000e+07    2012.0                1.60
1761   -1.368043e+09    2012.0                3.31
1765    0.000000e+00    2012.0                3.46
1769   -5.072100e+09    2012.0                4.32
1773    0.000000e+00    2012.0                0.97

      Estimated Shares Outstanding
0                     3.350000e+08
4                     7.328355e+07
20                    1.585904e+09
36                    5.003033e+07
44                    2.428928e+08
...                            ...
1757                  1.856250e+08
1761                  1.191988e+09
1765                  4.615607e+08
1769                  1.747685e+08
1773                  3.603258e+08

[244 rows x 79 columns]
2013.0       Unnamed: 0 Ticker Symbol Period Ending  Accounts Payable  \
1              1           AAL    2013-12-31      4.975000e+09
5              5           AAP    2013-12-28      2.609239e+09
8              8          AAPL    2013-09-28      3.622300e+10
13            13          ABBV    2013-12-31      6.448000e+09
16            16           ABC    2013-09-30      1.487064e+10
...          ...           ...           ...               ...
1762        1762          YHOO    2013-12-31      1.045813e+09
1766        1766           YUM    2013-12-28      2.194000e+09
1770        1770           ZBH    2013-12-31      3.675000e+08
1774        1774          ZION    2013-12-31      0.000000e+00
1777        1777           ZTS    2013-12-31      1.381000e+09

      Accounts Receivable  Add'l income/expense items  After Tax ROE  \
1           -9.300000e+07               -2.723000e+09           67.0
5           -3.242800e+07                2.698000e+06           26.0
8           -1.949000e+09                1.156000e+09           30.0
13           6.810000e+08               -5.400000e+07           92.0
16          -2.312518e+09               -4.400000e+04           19.0
...                   ...                         ...            ...
1762         2.619900e+07                1.233070e+08           10.0
1766        -1.200000e+07                0.000000e+00           50.0
1770        -7.430000e+07                9.600000e+06           12.0
1774         0.000000e+00               -1.201920e+08            4.0
1777        -9.900000e+07                9.000000e+06           54.0

      Capital Expenditures  Capital Surplus  Cash Ratio  ...  \
1            -3.114000e+09     1.059200e+10        75.0  ...
5            -1.957570e+08     5.312930e+08        40.0  ...
8            -8.165000e+09     0.000000e+00        93.0  ...
13           -4.910000e+08     3.671000e+09       144.0  ...
16           -2.024500e+08     2.360992e+09         8.0  ...
...                    ...              ...         ...  ...
1762         -3.429710e+08     8.688304e+09       254.0  ...
1766         -1.049000e+09     0.000000e+00        30.0  ...
1770         -2.929000e+08     4.000600e+09       175.0  ...
1774         -8.858000e+07     0.000000e+00         NaN  ...
1777         -1.840000e+08     8.780000e+08        43.0  ...

      Total Current Assets  Total Current Liabilities  Total Equity  \
1             1.432300e+10               1.380600e+10 -2.731000e+09
5             3.989384e+09               2.764785e+09  1.516205e+09
8             7.328600e+10               4.365800e+10  1.235490e+11
13            1.784800e+10               6.879000e+09  4.492000e+09
16            1.439365e+10               1.487064e+10  2.319745e+09
...                    ...                        ...           ...
1762          5.025857e+09               1.340312e+09  1.307491e+10
1766          1.691000e+09               2.265000e+09  2.166000e+09
1770          4.197700e+09               1.031600e+09  6.297300e+09
1774          0.000000e+00               0.000000e+00  6.464563e+09
1777          3.357000e+09               1.415000e+09  9.400000e+08

      Total Liabilities  Total Liabilities & Equity  Total Revenue  \
1          4.500900e+10                4.227800e+10   2.674300e+10
5          4.048569e+09                5.564774e+09   6.493814e+09
8          8.345100e+10                2.070000e+11   1.709100e+11
13         2.470600e+10                2.919800e+10   1.879000e+10
16         1.659889e+10                1.891864e+10   8.795917e+10
...                 ...                         ...            ...
1762       3.730050e+09                1.680496e+10   4.680380e+09
1766       6.529000e+09                8.695000e+09   1.308400e+10
1770       3.283300e+09                9.580600e+09   4.623400e+09
1774       4.956656e+10                5.603113e+10   2.278812e+09
1777       5.618000e+09                6.558000e+09   4.561000e+09

      Treasury Stock  For Year  Earnings Per Share  \
1       0.000000e+00    2013.0              -11.25
5      -1.078900e+08    2013.0                5.36
8       0.000000e+00    2013.0               40.03
13     -3.200000e+08    2013.0                2.58
16     -1.516856e+09    2013.0                1.88
...              ...       ...                 ...
1762   -2.002280e+08    2013.0                1.30
1766    0.000000e+00    2013.0                2.41
1770   -5.785700e+09    2013.0                4.49
1774    0.000000e+00    2013.0                1.58
1777    0.000000e+00    2013.0                1.01

      Estimated Shares Outstanding
1                     1.630222e+08
5                     7.308918e+07
8                     9.252311e+08
13                    1.600000e+09
16                    2.306952e+08
...                            ...
1762                  1.050985e+09
1766                  4.526971e+08
1770                  1.738085e+08
1774                  1.669563e+08
1777                  4.990099e+08

[425 rows x 79 columns]
2014.0       Unnamed: 0 Ticker Symbol Period Ending  Accounts Payable  \
2              2           AAL    2014-12-31      4.668000e+09
6              6           AAP    2015-01-03      3.616038e+09
9              9          AAPL    2014-09-27      4.864900e+10
14            14          ABBV    2014-12-31      6.954000e+09
17            17           ABC    2014-09-30      1.725016e+10
...          ...           ...           ...               ...
1763        1763          YHOO    2014-12-31      4.178020e+09
1767        1767           YUM    2014-12-27      2.142000e+09
1771        1771           ZBH    2014-12-31      2.255000e+08
1775        1775          ZION    2014-12-31      0.000000e+00
1778        1778           ZTS    2014-12-31      1.071000e+09

      Accounts Receivable  Add'l income/expense items  After Tax ROE  \
2           -1.600000e+08               -1.500000e+08          143.0
6           -4.820900e+07                3.092000e+06           25.0
9           -6.452000e+09                9.800000e+08           35.0
14          -1.720000e+08               -6.510000e+08          102.0
17          -9.382860e+08               -2.859400e+07           14.0
...                   ...                         ...            ...
1763         2.927800e+07                1.046733e+10           19.0
1767        -2.100000e+07                0.000000e+00           68.0
1771        -4.040000e+07               -3.480000e+07           11.0
1775         0.000000e+00               -4.442200e+07            5.0
1778         6.900000e+07               -7.000000e+06           44.0

      Capital Expenditures  Capital Surplus  Cash Ratio  ...  \
2            -5.311000e+09     1.513500e+10        60.0  ...
6            -2.284460e+08     5.629450e+08         3.0  ...
9            -9.571000e+09     0.000000e+00        40.0  ...
14           -6.120000e+08     4.194000e+09        74.0  ...
17           -2.644570e+08     2.749185e+09        10.0  ...
...                    ...              ...         ...  ...
1763         -4.130190e+08     8.499475e+09       177.0  ...
1767         -1.033000e+09     0.000000e+00        28.0  ...
1771         -3.423000e+08     4.330700e+09       166.0  ...
1775         -1.757990e+08     0.000000e+00         NaN  ...
1778         -1.800000e+08     9.580000e+08        81.0  ...

      Total Current Assets  Total Current Liabilities  Total Equity  \
2             1.175000e+10               1.340400e+10  2.021000e+09
6             4.741040e+09               3.654416e+09  2.002912e+09
9             6.853100e+10               6.344800e+10  1.115470e+11
14            1.608100e+10               1.139300e+10  1.742000e+09
17            1.680020e+10               1.725016e+10  1.956899e+09
...                    ...                        ...           ...
1763          9.444421e+09               4.514983e+09  3.874184e+10
1767          1.553000e+09               2.409000e+09  1.547000e+09
1771          4.313300e+09               1.024000e+09  6.549900e+09
1775          0.000000e+00               0.000000e+00  7.369530e+09
1778          3.465000e+09               1.086000e+09  1.311000e+09

      Total Liabilities  Total Liabilities & Equity  Total Revenue  \
2          4.120400e+10                4.322500e+10   4.265000e+10
6          5.959446e+09                7.962358e+09   9.843861e+09
9          1.202920e+11                2.318390e+11   1.827950e+11
14         2.577100e+10                2.751300e+10   1.996000e+10
17         1.957528e+10                2.153218e+10   1.195691e+11
...                 ...                         ...            ...
1763       2.296550e+10                6.170734e+10   4.618133e+09
1767       6.787000e+09                8.334000e+09   1.327900e+10
1771       3.108100e+09                9.658000e+09   4.673300e+09
1775       4.983934e+10                5.720887e+10   2.361631e+09
1778       5.277000e+09                6.588000e+09   4.785000e+09

      Treasury Stock  For Year  Earnings Per Share  \
2       0.000000e+00    2014.0                4.02
6      -1.130440e+08    2014.0                6.75
9       0.000000e+00    2014.0                6.49
14     -9.720000e+08    2014.0                1.11
17     -2.313380e+09    2014.0                1.22
...              ...       ...                 ...
1763   -7.124550e+08    2014.0                7.61
1767    0.000000e+00    2014.0                2.37
1771   -6.183700e+09    2014.0                4.26
1775    0.000000e+00    2014.0                1.68
1778    0.000000e+00    2014.0                1.16

      Estimated Shares Outstanding
2                     7.169154e+08
6                     7.315926e+07
9                     6.087827e+09
14                    1.598198e+09
17                    2.247787e+08
...                            ...
1763                  9.884009e+08
1767                  4.434599e+08
1771                  1.690845e+08
1775                  2.371798e+08
1778                  5.025862e+08

[428 rows x 79 columns]
2015.0       Unnamed: 0 Ticker Symbol Period Ending  Accounts Payable  \
3              3           AAL    2015-12-31      5.102000e+09
7              7           AAP    2016-01-02      3.757085e+09
10            10          AAPL    2015-09-26      6.067100e+10
15            15          ABBV    2015-12-31      8.463000e+09
18            18           ABC    2015-09-30      2.157823e+10
...          ...           ...           ...               ...
1764        1764          YHOO    2015-12-31      1.143349e+09
1768        1768           YUM    2015-12-26      2.165000e+09
1772        1772           ZBH    2015-12-31      4.320000e+08
1776        1776          ZION    2015-12-31      0.000000e+00
1779        1779           ZTS    2015-12-31      1.313000e+09

      Accounts Receivable  Add'l income/expense items  After Tax ROE  \
3            3.520000e+08               -7.080000e+08          135.0
7           -2.147600e+07               -7.484000e+06           19.0
10          -3.124000e+09                1.285000e+09           45.0
15          -1.076000e+09               -2.060000e+08          130.0
18          -1.478793e+09               -4.422000e+07           22.0
...                   ...                         ...            ...
1764        -3.906500e+07               -6.468200e+07           15.0
1768        -5.400000e+07                0.000000e+00          142.0
1772        -5.610000e+07               -2.750000e+07            1.0
1776         0.000000e+00               -2.530000e+06            4.0
1779        -5.800000e+07               -8.100000e+07           32.0

      Capital Expenditures  Capital Surplus  Cash Ratio  ...  \
3            -6.151000e+09     1.159100e+10        51.0  ...
7            -2.347470e+08     6.033320e+08         2.0  ...
10           -1.124700e+10     0.000000e+00        52.0  ...
15           -5.320000e+08     1.308000e+10        77.0  ...
18           -2.315850e+08     3.736477e+09        10.0  ...
...                    ...              ...         ...  ...
1764         -5.541630e+08     8.807273e+09       459.0  ...
1768         -9.730000e+08     0.000000e+00        27.0  ...
1772         -4.341000e+08     8.195300e+09       100.0  ...
1776         -1.573610e+08     0.000000e+00         NaN  ...
1779         -2.240000e+08     1.012000e+09        65.0  ...

      Total Current Assets  Total Current Liabilities  Total Equity  \
3             9.985000e+09               1.360500e+10  5.635000e+09
7             4.940746e+09               3.797477e+09  2.460648e+09
10            8.937800e+10               8.061000e+10  1.193550e+11
15            1.631400e+10               1.089400e+10  3.945000e+09
18            2.033449e+10               2.157823e+10  6.163860e+08
...                    ...                        ...           ...
1764          7.507319e+09               1.277380e+09  2.904354e+10
1768          1.688000e+09               3.088000e+09  9.110000e+08
1772          5.862900e+09               1.617900e+09  9.887900e+09
1776          0.000000e+00               0.000000e+00  7.507519e+09
1779          3.830000e+09               1.781000e+09  1.068000e+09

      Total Liabilities  Total Liabilities & Equity  Total Revenue  \
3          4.278000e+10                4.841500e+10   4.099000e+10
7          5.673917e+09                8.134565e+09   9.737018e+09
10         1.709900e+11                2.903450e+11   2.337150e+11
15         4.910500e+10                5.305000e+10   2.285900e+10
18         2.734660e+10                2.796298e+10   1.359618e+11
...                 ...                         ...            ...
1764       1.616043e+10                4.520397e+10   4.968301e+09
1768       7.164000e+09                8.075000e+09   1.310500e+10
1772       1.733160e+10                2.721950e+10   5.997800e+09
1776       5.216201e+10                5.966952e+10   2.210591e+09
1779       6.845000e+09                7.913000e+09   4.765000e+09

      Treasury Stock  For Year  Earnings Per Share  \

# Understanding the “agg” step in Pandas

In [21]:
data.groupby('For Year').agg(sum)[['Earnings Per Share']]
#returns a data frame

          Earnings Per Share
For Year
1215.0                 1.110
2012.0               697.059
2013.0              1494.305
2014.0              1520.586
2015.0              1244.180
2016.0               281.250

In [18]:
data.groupby('For Year').agg(sum)['Earnings Per Share']
#returns a Series object

For Year
1215.0       1.110
2012.0     697.059
2013.0    1494.305
2014.0    1520.586
2015.0    1244.180
2016.0     281.250
Name: Earnings Per Share, dtype: float64

# Advanced “groupby” concepts

In [25]:
data.groupby('For Year').agg([sum, np.mean])[['Earnings Per Share','Total Revenue']]

         Earnings Per Share           Total Revenue
                        sum      mean           sum          mean
For Year
1215.0                1.110  1.110000  7.613800e+09  7.613800e+09
2012.0              697.059  2.916565  4.548997e+12  1.864343e+10
2013.0             1494.305  3.600735  8.692293e+12  2.045245e+10
2014.0             1520.586  3.672913  8.880347e+12  2.074847e+10
2015.0             1244.180  3.019854  8.570782e+12  2.016654e+10
2016.0              281.250  3.472222  2.343615e+12  2.757194e+10

#  'NamedAgg' object from Pandas

Using an object:

In [27]:
data.groupby('For Year').agg(
   earnings_per_share=pd.NamedAgg(column='Earnings Per Share', aggfunc=sum),
   avg_total_revenue=pd.NamedAgg(column='Total Revenue', aggfunc=np.mean))

          earnings_per_share  avg_total_revenue
For Year
1215.0                 1.110       7.613800e+09
2012.0               697.059       1.864343e+10
2013.0              1494.305       2.045245e+10
2014.0              1520.586       2.074847e+10
2015.0              1244.180       2.016654e+10
2016.0               281.250       2.757194e+10

Dictionary to the agg function:

In [ ]:
data.groupby('For Year').agg( 
        {'Earnings Per Share': [sum],
        'Total Revenuee': [np.mean]}
)

Group by multiple columns

In [28]:
data.groupby(['For Year', 'Ticker Symbol']).agg(sum)[['Earnings Per Share']]

                        Earnings Per Share
For Year Ticker Symbol
1215.0   IPG                          1.11
2012.0   AAL                         -5.60
         AAP                          5.29
         ABT                          3.76
         ADS                          8.44
...                                    ...
2016.0   WDC                          1.01
         WFM                          1.55
         WMT                          4.58
         WRK                         -1.56
         XLNX                         2.14

[1602 rows x 1 columns]

Convert indices to columns using the "reset index" command

In [30]:
g = data.groupby(['For Year', 'Ticker Symbol']).agg(sum) 
g['Earnings Per Share'].reset_index()

      For Year Ticker Symbol  Earnings Per Share
0       1215.0           IPG                1.11
1       2012.0           AAL               -5.60
2       2012.0           AAP                5.29
3       2012.0           ABT                3.76
4       2012.0           ADS                8.44
...        ...           ...                 ...
1597    2016.0           WDC                1.01
1598    2016.0           WFM                1.55
1599    2016.0           WMT                4.58
1600    2016.0           WRK               -1.56
1601    2016.0          XLNX                2.14

[1602 rows x 3 columns]